body{
    background-color: #debd9c;
}

#header-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-user-profile{
    width: 5%;
    height: auto;
}